body {
    background-color: #17181D;
    color: #FCD9B8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .baner {
    background-color: #292C35;
    padding: 20px;
    text-align: center;
  }
  
  .baner h1 {
    margin: 0;
    font-size: 36px;
  }
  
  .clasificacion {
    background-color: #292C35;
    padding: 20px;
  }
  
  .clasificacion table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .clasificacion table th, .clasificacion table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #17181D;
  }
  
  .clasificacion table th {
    background-color: #292C35;
  }
  
  .clasificacion table tbody tr:nth-child(even) {
    background-color: #17181D;
  }
  
  .interfaz {
    background-color: #292C35;
    padding: 20px;
  }
  
  .interfaz h2 {
    color: #FCD9B8;
    font-size: 24px;
  }
  
  .interfaz .datos {
    color: #FCD9B8;
  }
  
  .interfaz select, .interfaz button {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .interfaz button {
    background-color: #E09145;
    border: none;
    color: #17181D;
    cursor: pointer;
  }
  
  .interfaz button:hover {
    background-color: #FCD9B8;
    color: #17181D;
  }
  
  #datosGuardados {
    color: #FCD9B8;
    margin-top: 20px;
  }
  
  #datosGuardados .partido {
    margin-bottom: 10px;
  }
  
  #datosGuardados .partido button {
    background-color: #E09145;
    border: none;
    color: #17181D;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 20px;
  }
  
  #datosGuardados .partido button:hover {
    background-color: #FCD9B8;
    color: #17181D;
  }
  